body {
    background-color: #333;
    font-family: 'calibri';
    background-image: url(./assets/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
}
nav ul {
    list-style-type: none;
    padding: 0;
    text-align: right;
    display: flex;
    justify-content: space-between;
}
nav ul li {
    display: inline;
    margin-right: 20px;
    margin-left: 15px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration: underline;
}
footer {
    background-color: #333;
    color:#fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 20%;
}
.fa:hover {
     opacity: 0.7;
}
.fa-facebook {
    background: #333;
    color: white;
}
.fa-instagram {
    background: #333;
    color: white;
}
.fa-linkedin {
    background: #333;
    color: white;
}
.fa-github {
    background: #333;
    color: white;
}
#typingText {
    color: #fff;
    text-align: center;
    margin-top: 200px;
}
.auto-type{
    color: white;
}