* {
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: 'Segoe UI';
  background-size: cover;
  background-repeat: no-repeat;
}

h3 {
  color: #B8B8B8; 
  text-align: center;
  font-size: 25px;
}

h1 {
  color: #B8B8B8; 
  text-align: "center";
  font-size: 50px;
}

#typingText {
  color: #B8B8B8;
  text-align: center;
  margin-top: 300px
}

.auto-type {
  color: #B8B8B8;
}