html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: 'Segoe UI';
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: scroll;
}

h3 {
  color: #B8B8B8; 
  text-align: center;
  font-size: 25px;
}

h1 {
  color: #B8B8B8; 
  text-align: "center";
  font-size: 50px;
}

#typingText {
  color: #B8B8B8;
  text-align: center;
  margin-top: 300px;
  flex: 1;
}

.auto-type {
  color: #B8B8B8;
}

/* Scrollbar for Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #1e1e1e; /* Track color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Scrollbar thumb color */
  border-radius: 10px;
  border: 2px solid #1e1e1e; /* Adds space around the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Hover color */
}

/* Firefox scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #1e1e1e; /* Thumb color and track color */
}