<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="about.css">
</head>
<body>
    <nav>
        <ul>
            <li style="font-weight: 600; margin-right: auto; font-size: 25px;">WELCOME TO MY PROFILE</li>
            <li style="font-size: 20px;"><a href="../index.html">Home</a></li>
            <li style="font-size: 20px;"><a href="./profile.html">Profile</a></li>
            <li style="font-size: 20px;"><a href="./about.html">About</a></li>
        </ul>
    </nav>
    <main>
        <section>
            <img class="profileImage" src="../assets/profileImage.png" alt="Profile Image">
        </section>
    </main>
</body>
</html>