body {
    background-color: black;
    font-family: 'calibri';
    background-image: url(../assets/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
nav {
    background-color: black;
    color: #fff;
    padding: 10px;
}
nav ul {
    list-style-type: none;
    padding: 0;
    text-align: right;
    display: flex;
    justify-content: space-between;
}
nav ul li {
    display: inline;
    margin-right: 20px;
    margin-left: 15px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration: underline;
}
.welcomeHeading {
    margin-right: auto; 
    font-size: 25px;
    font-weight: 800;
    background-image: linear-gradient(45deg, #f4f4f4, #8b8b8b);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
li {
    font-size: 26px;
    margin-left: 30px;
    list-style-type: none;
    font-family: 'Segoe UI';
    font-weight: 700;
}
.profileImage {
    padding: 30px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}
footer {
    background-color: #181818;
    color:#fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 20%;
}
.fa:hover {
     opacity: 0.7;
}
.fa-facebook {
    background: #181818;
    color: white;
}
.fa-instagram {
    background: #181818;
    color: white;
}
.fa-linkedin {
    background: #181818;
    color: white;
}
.fa-github {
    background: #181818;
    color: white;
}
p {
    font-family: 'Segoe UI';
    font-weight: 700;
}