footer {
    background-color: #080808;
    color: #fff;
    text-align: center;
    padding: 10px 10px;
    width: 100%;
    margin-top: 10px;
}

.footerText {
    font-family: 'Segoe UI';
    font-weight: 700;
    font-size: 10px;
    margin: 0;
}

.fa {
    padding: 5px;
    font-size: 18px;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 20%;
    display: inline-block;
    margin: 3px;
    background-color: #080808;
    color: white;
}

.fa:hover {
    opacity: 0.7;
}

/* Responsive styles for larger devices */
@media (min-width: 768px) {
    footer {
        padding: 15px 30px;
    }

    .footerText {
        font-size: 12px;
    }

    .fa {
        font-size: 22px;
        width: 35px;
        height: 35px;
    }
}

/* Responsive styles for smaller devices */
@media (max-width: 768px) {
    .footerText {
        font-size: 10px;
    }

    .fa {
        font-size: 18px;
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 480px) {
    footer {
        padding: 10px;
    }

    .footerText {
        font-size: 8px;
    }

    .fa {
        font-size: 16px;
        width: 28px;
        height: 28px;
    }
}