#navbar {
  overflow: hidden;
  padding: 50px 10px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navbar a {
  font-weight: bold;
  color: #fff;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

#navbar #logo {
  font-size: 35px;
  margin-left: 5px;
  font-weight: bold;
  background-image: linear-gradient(45deg, white, grey, black);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

#navbar a:hover {
  background-color: #B8B8B8;
  color: black;
}

#navbar a.active {
  background-color: #004220;
  color: white;
}

#navbar-right {
  float: right;
}

#hamburger-icon {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: white;
  position: absolute;
  right: 20px;
  top: 20px;
}

@media screen and (max-width: 580px) {
  #navbar {
    padding: 20px 10px !important;
  }

  #navbar a {
    float: none;
    text-align: left;
    display: block;
    font-weight: bold;
    color: #fff;
    margin-left: 30px;
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    border-radius: 4px;
  }

  #navbar-right {
    display: none;
    width: 100%;
  }

  #hamburger-icon {
    display: block;
  }

  #navbar-right.show {
    display: block;
  }
}