<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="profile.css">
</head>
<body>
    <nav>
        <ul>
            <li class="welcomeHeading">WELCOME TO MY PROFILE</li>
            <li style="font-size: 20px;"><a href="../index.html">Home</a></li>
            <li style="font-size: 20px;"><a href="./profile.html">Profile</a></li>
            <li style="font-size: 20px;"><a href="./about.html">About</a></li>
        </ul>
    </nav>
    <main>
        <section>
            <h2>Education</h2>
            <ul>
                <li>BSc.(Hons) Computer Science - University of Westminister</li>
                <p class="content">Informatics Institute of Technology - School of Computing</p><br>
                <li>G.C.E Advance Level - Math Stream</li>
                <p class="content">Ananda College - Colombo</p><br>
                <li>G.C.E Ordinary Level</li>
                <p class="content">Lalith Athulathmudali College - Mount Lavinia - Colombo</p><br>
                <!-- Add more courses here -->
            </ul>
        </section>
        <section>
            <h2>Experiences</h2>
            <ul>
                <li>Vice President - Leo Club of Kesbewa</li>
                <p class="content">Leo District 306A2 - MyLCI: 6259006</p><br>
                <li>Customer Service Associate</li>
                <p class="content">Dialog Business Services (PVT) LTD</p><br>
                <!-- Add more experiences here -->
            </ul>
        </section>
        <section>
            <h2>Achievements</h2>
            <ul>
                <li>Vice President - Leo Club of Kesbewa</li>
                <p class="content">Leo District 306A2 - MyLCI: 6259006</p><br>
                <li>Customer Service Associate</li>
                <p class="content">Dialog Business Services (PVT) LTD</p><br>
                <!-- Add more experiences here -->
            </ul>
        </section>
    </main>
</body>
<footer>
    <p>Ishara Harshana - My Profile. © 2024 All rights reserved</p>
    <div>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="https://www.linkedin.com/in/ishara-harshana-592841251" class="fa fa-linkedin"></a>
        <a href="https://github.com/Ishara-Vithanage" class="fa fa-github"></a>
    </div>
</footer>
</html>