html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

* {
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Segoe UI';
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: scroll; /* Ensures scrollbar is always visible */
    margin: 0;
    padding: 0;
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

.profileImage {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: 20px;
    border: 3px solid #dcdada;
}

.contact {
    color: aliceblue;
    overflow: auto; 
    float: inline-end;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.content {
    color: aliceblue;
}

.stay-connected {
    font-size: 24px;
    font-weight: bold;
    color: aliceblue;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}


.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: -10px;
}

.social-icons a {
    color: white;
    font-size: 30px;
    text-decoration: none;
    padding: 10px;
    background-color: transparent;
}

.fa-instagram, .fa-facebook, .fa-linkedin, .fa-github {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

/* Scrollbar for Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #1e1e1e; /* Track color */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #888; /* Scrollbar thumb color */
    border-radius: 10px;
    border: 2px solid #1e1e1e; /* Adds space around the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Hover color */
}

/* Firefox scrollbar */
* {
    scrollbar-width: thin;
    scrollbar-color: #888 #1e1e1e; /* Thumb color and track color */
}

@media screen and (max-width: 800px) {
    .middle {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .profileImage {
        width: 150px;
        height: 150px;
        margin-top: 30px;
    }

    .contact {
        text-align: left;
        margin: 10px 0;
    }

    .social-icons a {
        margin-top: 40px;
    }
}